<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>habitList</key>
	<array>
		<dict>
			<key>color</key>
			<integer>0</integer>
			<key>name</key>
			<string>淋浴洗澡</string>
			<key>icon</key>
			<integer>101</integer>
			<key>category</key>
			<integer>0</integer>
			<key>encourageWords</key>
			<string>走路，能让你在锻炼的同时思考人生。</string>
		</dict>
		<dict>
			<key>color</key>
			<integer>2</integer>
			<key>name</key>
			<string>跑步</string>
			<key>icon</key>
			<integer>216</integer>
			<key>category</key>
			<integer>0</integer>
			<key>encourageWords</key>
			<string>不仅仅是跑出去，而是把自己找回来</string>
		</dict>
		<dict>
			<key>color</key>
			<integer>5</integer>
			<key>name</key>
			<string>打篮球</string>
			<key>icon</key>
			<integer>411</integer>
			<key>category</key>
			<integer>0</integer>
			<key>encourageWords</key>
			<string>坚持下去，坚实性感的小腹离你不远了。</string>
		</dict>
		<dict>
			<key>color</key>
			<integer>10</integer>
			<key>name</key>
			<string>弹吉他</string>
			<key>icon</key>
			<integer>201</integer>
			<key>category</key>
			<integer>1</integer>
			<key>encourageWords</key>
			<string>文艺范儿</string>
		</dict>
		<dict>
			<key>color</key>
			<integer>12</integer>
			<key>name</key>
			<string>绘画</string>
			<key>icon</key>
			<integer>407</integer>
			<key>category</key>
			<integer>1</integer>
			<key>encourageWords</key>
			<string></string>
		</dict>
		<dict>
			<key>color</key>
			<integer>14</integer>
			<key>name</key>
			<string>存钱</string>
			<key>icon</key>
			<integer>211</integer>
			<key>category</key>
			<integer>1</integer>
			<key>encourageWords</key>
			<string>记录的是生活，留下的是回忆。</string>
		</dict>
		<dict>
			<key>color</key>
			<integer>15</integer>
			<key>name</key>
			<string>记账</string>
			<key>icon</key>
			<integer>417</integer>
			<key>category</key>
			<integer>1</integer>
			<key>encourageWords</key>
			<string></string>
		</dict>
		<dict>
			<key>color</key>
			<integer>301</integer>
			<key>name</key>
			<string>冥想</string>
			<key>icon</key>
			<integer>507</integer>
			<key>category</key>
			<integer>2</integer>
			<key>encourageWords</key>
			<string></string>
		</dict>
		<dict>
			<key>color</key>
			<integer>5</integer>
			<key>name</key>
			<string>正能量</string>
			<key>icon</key>
			<integer>609</integer>
			<key>category</key>
			<integer>2</integer>
			<key>encourageWords</key>
			<string>每天一点正能量，元气满满</string>
		</dict>
		<dict>
			<key>color</key>
			<integer>6</integer>
			<key>name</key>
			<string>吃早餐</string>
			<key>icon</key>
			<integer>400</integer>
			<key>category</key>
			<integer>3</integer>
			<key>encourageWords</key>
			<string>美好的一天从早餐开始</string>
		</dict>
		<dict>
			<key>color</key>
			<integer>7</integer>
			<key>name</key>
			<string>7点早起</string>
			<key>icon</key>
			<integer>125</integer>
			<key>category</key>
			<integer>3</integer>
			<key>encourageWords</key>
			<string>早起迎接新的一天</string>
		</dict>
		<dict>
			<key>color</key>
			<integer>8</integer>
			<key>name</key>
			<string>23点早睡</string>
			<key>icon</key>
			<integer>119</integer>
			<key>category</key>
			<integer>3</integer>
			<key>encourageWords</key>
			<string>早睡觉早健康</string>
		</dict>
		<dict>
			<key>color</key>
			<integer>9</integer>
			<key>name</key>
			<string>喝水</string>
			<key>icon</key>
			<integer>317</integer>
			<key>category</key>
			<integer>3</integer>
			<key>encourageWords</key>
			<string>水是生命之源。醒来时就喝水，让身体快速进入状态，以最佳状态迎接新的一天！</string>
		</dict>
		<dict>
			<key>color</key>
			<integer>10</integer>
			<key>name</key>
			<string>吃水果</string>
			<key>icon</key>
			<integer>303</integer>
			<key>category</key>
			<integer>3</integer>
			<key>encourageWords</key>
			<string>每天坚持吃水果，越吃越瘦好身材！</string>
		</dict>
		<dict>
			<key>color</key>
			<integer>11</integer>
			<key>name</key>
			<string>吃蔬菜</string>
			<key>icon</key>
			<integer>316</integer>
			<key>category</key>
			<integer>3</integer>
			<key>encourageWords</key>
			<string></string>
		</dict>
		<dict>
			<key>color</key>
			<integer>12</integer>
			<key>name</key>
			<string>无糖</string>
			<key>icon</key>
			<integer>313</integer>
			<key>category</key>
			<integer>3</integer>
			<key>encourageWords</key>
			<string></string>
		</dict>
		<dict>
			<key>color</key>
			<integer>14</integer>
			<key>name</key>
			<string>爱</string>
			<key>icon</key>
			<integer>505</integer>
			<key>category</key>
			<integer>4</integer>
			<key>encourageWords</key>
			<string></string>
		</dict>
		<dict>
			<key>color</key>
			<integer>5</integer>
			<key>name</key>
			<string>打扫卫生</string>
			<key>icon</key>
			<integer>104</integer>
			<key>category</key>
			<integer>4</integer>
			<key>encourageWords</key>
			<string></string>
		</dict>
		<dict>
			<key>color</key>
			<integer>3</integer>
			<key>name</key>
			<string>读书</string>
			<key>icon</key>
			<integer>401</integer>
			<key>category</key>
			<integer>4</integer>
			<key>encourageWords</key>
			<string>腹有诗书气自华</string>
		</dict>
		<dict>
			<key>color</key>
			<integer>8</integer>
			<key>name</key>
			<string>称体重</string>
			<key>icon</key>
			<integer>318</integer>
			<key>category</key>
			<integer>4</integer>
			<key>encourageWords</key>
			<string>瞄一眼，今天重了还是轻了。</string>
		</dict>
	</array>
</dict>
</plist>
