<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>encourageWordList</key>
	<array>
		<string>不论我在什么时候开始，重要的是开始之后就不要停止。</string>
		<string>实现自己既定的目标，必须能耐得住寂寞单干。</string>
		<string>永不言败，是成功者的最佳品格。</string>
		<string>清心是禄，寡欲是寿。</string>
		<string>滴水穿石，不是力量大，而是功夫深。</string>
		<string>生命不是要超越别人，而是要超越自己。</string>
		<string>不为模糊不清的未来担忧，只为清清楚楚的现在努力。</string>
		<string>自己打败自己是最可悲的失败，自己战胜自己是最可贵的胜利。</string>
		<string>失败只有一种，那就是半途而废。</string>
		<string>成功源于不懈的努力。</string>
		<string>做决定之前仔细考虑，一旦作了决定就要勇往直前、坚持到底。</string>
		<string>凡事不要说”我不会“或”不可能“，因为我根本还没有去做！</string>
		<string>成功不是凭梦想和希望，而是凭努力和实践。</string>
		<string>没有播种，何来收获；没有辛苦，何来成功。</string>
		<string>除非想成为一流，否则就是二流。</string>
		<string>在我内心深处，还有无穷的潜力，有一天当我回首看时，我就会知道这绝对是真的。</string>
		<string>宁可辛苦一阵子，不要苦一辈子。</string>
		<string>为成功找方法，不为失败找借口。</string>
		<string>决不能放弃，世界上没有失败，只有放弃。</string>
		<string>要有梦想，即使遥远。</string>
		<string>现在站在什么地方不重要，重要的是我往什么方向移动。</string>
		<string>失去金钱的人损失甚少，失去健康的人损失极多，失去勇气的人损失一切。</string>
		<string>只有满怀勇气，不畏艰辛，才能获得更大的成功。</string>
		<string>每个梦想，都是在现实中坚持不懈才实现的。</string>
		<string>痛不痛只有自己知道，变没变只有自己才懂。</string>
		<string>比我好的人仍在努力，我就更没资格说我无能为力！</string>
		<string>只有自强自立自信，我才能付得起人生的账单。</string>
		<string>时间是宝贵的，抓住了时间就抓住了成功。</string>
		<string>美丽的空想比不上踏实地做事，只要开始行动，就算再晚也不迟。</string>
		<string>人生没有如果，只有后果和结果。</string>
		<string>时间告诉我，无理取闹的年龄过了，该懂事了。</string>
		<string>成功的速度一定要超过父母老去的速度。</string>
		<string>只要依靠自己的力量去做事情，即使条件很差，也能取得成功。</string>
		<string>想一想那些美好的可能。</string>
		<string>自律给我自由</string>
		<string>生命的道路上永远没有捷径可言，只有脚踏实地走下去。</string>
		<string>任何的限制，都是从自己的内心开始的。</string>
		<string>习惯改变性格，性格改变命运。</string>
		<string>失败，是留给不坚持的人。</string>
		<string>如果我不满意现状，要么开始改变，要么就闭嘴。</string>
		<string>只要路是对的，就不怕路远。</string>
		<string>不要等待机会，而要创造机会。</string>
		<string>心有多大，舞台就有多大。</string>
		<string>亲爱的自己，我要拼尽全力，逼自己优秀一把，青春已所剩无多。</string>
		<string>世界上那些最容易的事情中，拖延时间是最不费力的。</string>
		<string>努力过的人是最美的，即使最后没赢，至少不会给自己留下遗憾。</string>
		<string>人生是个圆，有的人欧了一辈子也没有走出命运画出的圆圈，其实，圆上的每一个点都是腾飞的切线。</string>
	</array>
</dict>
</plist>
