<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IconCategories</key>
	<array>
		<array>
			<dict>
				<key>category</key>
				<integer>1</integer>
				<key>icon_name</key>
				<string>icon_health_apple</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>1</integer>
				<key>icon_name</key>
				<string>icon_health_beat</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>1</integer>
				<key>icon_name</key>
				<string>icon_health_dinner</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>1</integer>
				<key>icon_name</key>
				<string>icon_health_fruit</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>1</integer>
				<key>icon_name</key>
				<string>icon_health_medecine</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>1</integer>
				<key>icon_name</key>
				<string>icon_health_moon</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>1</integer>
				<key>icon_name</key>
				<string>icon_health_no_cigarette</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>1</integer>
				<key>icon_name</key>
				<string>icon_health_no_plane</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>1</integer>
				<key>icon_name</key>
				<string>icon_health_weight</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>1</integer>
				<key>icon_name</key>
				<string>icon_health_water</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>1</integer>
				<key>icon_name</key>
				<string>icon_health_vegetables</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>1</integer>
				<key>icon_name</key>
				<string>icon_health_sun</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>1</integer>
				<key>icon_name</key>
				<string>icon_health_salad</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>1</integer>
				<key>icon_name</key>
				<string>icon_health_rice</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>1</integer>
				<key>icon_name</key>
				<string>icon_health_phone</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>category</key>
				<integer>5</integer>
				<key>icon_name</key>
				<string>icon_other_banana</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>5</integer>
				<key>icon_name</key>
				<string>icon_other_calendar</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>5</integer>
				<key>icon_name</key>
				<string>icon_other_camera</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>5</integer>
				<key>icon_name</key>
				<string>icon_other_carrot</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>5</integer>
				<key>icon_name</key>
				<string>icon_other_energy</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>5</integer>
				<key>icon_name</key>
				<string>icon_other_grape</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>5</integer>
				<key>icon_name</key>
				<string>icon_other_lemon</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>5</integer>
				<key>icon_name</key>
				<string>icon_other_mushroom</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>5</integer>
				<key>icon_name</key>
				<string>icon_other_photo</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>5</integer>
				<key>icon_name</key>
				<string>icon_other_snooker</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>category</key>
				<integer>3</integer>
				<key>icon_name</key>
				<string>icon_learn_book</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>3</integer>
				<key>icon_name</key>
				<string>icon_learn_news</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>3</integer>
				<key>icon_name</key>
				<string>icon_learn_music</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>3</integer>
				<key>icon_name</key>
				<string>icon_learn_github</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>3</integer>
				<key>icon_name</key>
				<string>icon_learn_excel</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>3</integer>
				<key>icon_name</key>
				<string>icon_learn_draw</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>3</integer>
				<key>icon_name</key>
				<string>icon_learn_dollar</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>3</integer>
				<key>icon_name</key>
				<string>icon_learn_camera</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>3</integer>
				<key>icon_name</key>
				<string>icon_learn_news</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>3</integer>
				<key>icon_name</key>
				<string>icon_learn_photography</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>3</integer>
				<key>icon_name</key>
				<string>icon_learn_ppt</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>3</integer>
				<key>icon_name</key>
				<string>icon_learn_writing</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>3</integer>
				<key>icon_name</key>
				<string>icon_learn_word</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>3</integer>
				<key>icon_name</key>
				<string>icon_learn_voice</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>3</integer>
				<key>icon_name</key>
				<string>icon_learn_ps</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>category</key>
				<integer>4</integer>
				<key>icon_name</key>
				<string>icon_emotion_talk</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>4</integer>
				<key>icon_name</key>
				<string>icon_emotion_take_note</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>4</integer>
				<key>icon_name</key>
				<string>icon_emotion_smile</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>4</integer>
				<key>icon_name</key>
				<string>icon_emotion_praise</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>4</integer>
				<key>icon_name</key>
				<string>icon_emotion_meditation</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>4</integer>
				<key>icon_name</key>
				<string>icon_emotion_idea</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>4</integer>
				<key>icon_name</key>
				<string>icon_emotion_heart</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>4</integer>
				<key>icon_name</key>
				<string>icon_emotion_gift</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>4</integer>
				<key>icon_name</key>
				<string>icon_emotion_game</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>4</integer>
				<key>icon_name</key>
				<string>icon_emotion_call</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_weather</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_unbrella</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_wakeup</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_wash_car</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_wash</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_tomato</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_toothbrush</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_tv</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_taobao</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_take_account</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_sleep</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_shop</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_refuel</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_mask</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_dog</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_cup</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_cook</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_coffee</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_clean</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_cat</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_car</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_bath</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>0</integer>
				<key>icon_name</key>
				<string>icon_life_baby</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_yoga</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_woman_dance</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_walk</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_tenis</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_swim</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_run</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_rope_skip</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_push_up</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_push_up_device</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_pingpang</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_man_dance</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_golf</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_football</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_dumbbell</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_climb</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_boxing</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_bhchcle</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_basketball</string>
			</dict>
			<dict>
				<key>category</key>
				<integer>2</integer>
				<key>icon_name</key>
				<string>icon_sport_badminton</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
